@model DuanThuctap.Models.LOAITK

@{
    ViewBag.Title = "Sửa loại tài khoản";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}

<!--Side bar bên phải-->
<div class="col-9 p-2 shadow-sm bg-white border border-2 ml-1" style="border-radius: 10px;margin-top: 64px;">
    <main>
        <div class="container-fluid px-4">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Sửa thông tin loại tài khoản</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m=>m.MALOAITK)

                    <div class="form-group">
                        @Html.LabelFor(model => model.TENLOAITK, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TENLOAITK, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TENLOAITK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @ViewData["Erorr"]
                    @ViewData["erorr1"]
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a href="@Url.Action("Loaitaikhoan","Khachhang")">
                                <button type="button" class="btn btn-primary">Quay lại</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>
</div>
<!--Side bar bên phải-->
