@model DuanThuctap.Models.CombinedStatistical

@{
    ViewBag.Title = "Thống kê tài khoản";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}

<!--Side bar bên phải-->
<div class="col-9 p-2 shadow-sm bg-white border border-2 ml-1" style="border-radius: 10px;margin-top: 64px;">
    <main>
        <div class="container-fluid px-4">
            <h4>Thống kê tài khoản người dùng</h4>
            <hr />
            <h5 style="color:orange;">Số lượng theo loại tài khoản</h5>
            <div class="row">
                <!-- Thống kê theo loại tài khoản -->
                @foreach (var item in Model.StatisticalByCategory)
                {
                    <div class="col-4">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">@item.Categoryaccount</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">@item.AccountCount</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <h5 style="color:tomato;display:block;">Số lượng tài khoản đăng ký trong các tháng/năm </h5>
            <div class="row">

                <!-- Thống kê theo tháng -->
                @foreach (var item in Model.StatisticalByMonth)
                {
                    <div class="col-4">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Tháng @item.Month - Năm @item.Year</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">@item.AccountCount</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </main>
</div>
