@model PagedList.IPagedList<DuanThuctap.Models.KHACHHANG>
@using PagedList.Mvc;

@{
    ViewBag.Title = "QL thông tin khách hàng";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}
<style>
    .fw-title {
        font-size: 14pt;
        font-weight: 500;
    }

    .color-delete {
        color: aliceblue;
    }
</style>
<!--Side bar bên phải-->
<div class="col-9 p-2 shadow-sm bg-white border border-2 ml-1" style="border-radius: 10px;margin-top: 64px;">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mb-3">Thông tin khách hàng</h3>

            <div class="row mb-5">
                <div class="col-6 my-auto ">
                    @using (Html.BeginForm("Searchcustomer", "Chamsockhachhang", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <input type="text" name="searchcustomer" class="form-control mr-sm-2" placeholder="Search Customer" style="width: 350px;" id="searchInput">
                        <!-- Đoạn mã jQuery để xử lý sự kiện Enter -->
                        <script src="~/Scripts/bootstrap.js"></script>
                    }

                </div>
                <div class="col-6 text-right">
                    <a href="/Chamsockhachhang/Createcustomer">
                        <button type="button" class="btn btn-primary fw-title"><i class="fa-solid fa-plus" "></i> Create</button>
                    </a>
                </div>
            </div>
            <div class="table">
                <table class="table table-striped table-hover text-center">
                    <tr class="fw-title">
                        <td>Mã khách hàng</td>
                        <td>Tên khách hàng</td>
                        <td>Tên đăng nhập</td>
                        <td>Giới tính</td>
                        <td>Số điện thoại</td>
                        <td>Email</td>
                        <td>Địa chỉ</td>
                        <td>Thao tác</td>
                    </tr>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.MAKH)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TENKH)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TAIKHOAN.TENDN)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.GIOITINH)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.TAIKHOAN.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.DIACHI)
                    </td>

                    <td>
                        <button type="button" class="btn btn-primary">
                            <a href="@Url.Action("Editcustomer", new { id = item.MAKH })" class="text-decoration-none color-delete">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </a>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <a href="@Url.Action("Deletecustomer", new { id = item.MAKH })" class="text-decoration-none color-delete">
                                <i class="fa-solid fa-trash-can"></i> Delete
                            </a>
                        </button>

                    </td>
                </tr>
                    }
                </table>
                <hr />
                <!-- Thêm phân trang vào -->
                <div class="text-right fw-title text-primary">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Khachhang", new { page }))
                <!-- Kết thúc -->

            </div>
        </div>
    </main>
</div>
<!--Side bar bên phải-->
