@model PagedList.IPagedList<DuanThuctap.Models.Hoadon>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Donhangchuaduyet";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}

<!--Side bar bên phải-->
<div class="col-9 p-2 shadow-sm bg-white border border-2 ml-1" style="border-radius: 10px;margin-top: 64px;">
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <h4>Đơn hàng đã duyệt</h4>
                <hr />
                <div class="table">
                    <table class="table table-striped table-hover text-center border border-1">
                        <tr class="fw-title" style="font-weight:600;">
                            <td>Mã hóa đơn</td>
                            <td>Tên khách hàng</td>
                            <td>Tên sản phẩm</td>
                            <td>Số điện thoại</td>
                            <td>Địa chỉ giao</td>
                            <td>Ngày đặt</td>
                            <td>Ngày giao</td>
                            <td>Trạng thái</td>
                            <td>Số lượng</td>
                            <td>Tổng tiền</td>
                            <td>Mô tả</td>
                            <td>Sửa</td>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MAHD</td>
                                <td>@item.KHACHHANG.TENKH</td>
                                <td>@item.SANPHAM.TENSP</td>
                                <td>@item.DONHANG.SDT</td>
                                <td>@item.DONHANG.DIACHIGIAO</td>
                                <td>@item.DONHANG.NGAYDAT</td>
                                <td>@item.DONHANG.NGAYGIAO</td>
                                <td>@item.DONHANG.TRANGTHAI</td>
                                <td>@item.DONHANG.SOLUONG</td>
                                <td>@item.DONHANG.TONGTIEN</td>
                                <td>@item.DONHANG.MOTA</td>
                                <!--<td>
                                    <button type="button" class="btn btn-danger">
                                        <a href="Url.Action("Editorderapproved", new { id = item.MAHD })" class="text-decoration-none color-delete">
                                            <i class="fa-solid fa-pen-to-square text-warning"></i>
                                        </a>
                                    </button>
                                </td>-->
                            </tr>
                        }
                    </table>
                    <!-- Thêm phân trang vào -->
                    <div class="text-right fw-title text-primary">
                        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                    </div>
                    @Html.PagedListPager(Model, page => Url.Action("Donhangdaduyet", new { page }))
                    <!-- Kết thúc -->
                </div>
            </div>
        </div>
    </main>
</div>
<!--Side bar bên phải-->
