@model DuanThuctap.Models.TAIKHOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TAIKHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENDN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENDN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYDANGKY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDANGKY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAITK.TENLOAITK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAITK.TENLOAITK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MATK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
