@model DuanThuctap.Models.SANPHAM

@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Views/Shared/Header_Menu.cshtml";
}

<!--Side bar bên phải-->
<div class="col-9 p-2 shadow-sm bg-white border border-2 ml-1" style="border-radius: 10px;margin-top: 64px;">
    <main>
        <div class="container-fluid px-4">
            @using (Html.BeginForm("Editsp", "Sanpham", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Sửa thông tin sản phẩm</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.MASP)

                <div class="form-group">
                    @Html.LabelFor(model => model.TENSP, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TENSP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TENSP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LOAISANPHAM.TENLOAISP, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MALOAISP", null, htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.LOAISANPHAM.TENLOAISP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.THUONGHIEU.TENTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MATH", null, htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.THUONGHIEU.TENTH, "", new { @class = "text-danger" })
                    </div>
                </div>
              
                <div class="form-group">
                    @Html.LabelFor(model => model.KHUYENMAI.TENKM, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MAKM", null, htmlAttributes: new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.KHUYENMAI.TENKM, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HINHNHO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" class="form-control mb-1" name="HINHNHO" />
                        <img src="@Url.Content("~/Hinhsanpham/anhnho/"+Model.HINHNHO)" alt="Hình ảnh " width="100px" />  (Ảnh nhỏ hiện tại)
                        @Html.ValidationMessageFor(model => model.HINHNHO, "", new { @class = "text-danger" })
                        @ViewBag.erorr
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HINHLON, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" class="form-control mb-1" name="HINHLON" />
                        <img src="@Url.Content("~/Hinhsanpham/anhnho/"+Model.HINHLON)" alt="Hình ảnh " width="100px" />  (Ảnh lớn hiện tại)
                        @Html.ValidationMessageFor(model => model.HINHLON, "", new { @class = "text-danger" })
                        @ViewBag.erorr1
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SOLUONG, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SOLUONG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DONGIA, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DONGIA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DONGIA, "", new { @class = "text-danger" })
                    </div>
                </div>

             
                <div class="form-group">
                    @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                      <textarea name="MOTA" class="form-control"> @Model.MOTA</textarea>
                        @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <p class="text-danger">@ViewBag.Message</p>
                     <p class="text-danger">@ViewBag.Message1</p>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a href="@Url.Action("Thongtinssanpham","Sanpham")">
                            <button type="button" class="btn btn-primary">Quay lại</button>
                        </a>
                    </div>
                </div>
            </div>
            }
        </div>
    </main>
</div>
<!--Side bar bên phải-->
